.mb-10{
  margin-bottom: 10px;
}
.ml-10{
  margin-left: 30px;
}
a:link {
  color: red;
}
a:visited {
  color: green;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}

.mat-card-avatar{
  width: auto !important;
}

.flex-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.flex-item {
  flex: 40%;
}

@media (max-width: 800px) {
  .flex-item {
    flex: 100%;
  }
}

 .gitlogo{
  position :absolute;
  top: -15px;
  right: 10px;
 }
 