<div *ngFor="let org of setup.github.organizations" class="mb-10">
    <mat-card class="mb-10">
      <mat-card-header>
        <img mat-card-avatar src="{{org.avatarUrl}}" alt="{{org.name}}">

        <mat-card-title>{{org.name}}</mat-card-title>
        <mat-card-subtitle>{{org.blog}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{org.description}}
        </p>
      </mat-card-content>
      <mat-card-actions align="end" class="gitlogo">
       </mat-card-actions>
    </mat-card>
 
  <div class="flex-container">

    <mat-card *ngFor="let repo of org.repositoris" class="flex-item">
      
      <mat-card-header>
        <img mat-card-avatar src="assets/images/github.png" alt="{{org.name}}">
       <mat-card-title> {{repo.name}}</mat-card-title>
      <mat-card-subtitle> <span *ngIf="repo.release.exist">version : <a
            [href]="'https://github.com/'+org.login+'/'+repo.name+'/releases'">{{repo.release.version}}</a></span>
      </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{repo.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

 