.flex-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.flex-item {
  flex: 40%;
}

@media (max-width: 800px) {
  .flex-item {
    flex: 100%;
  }
}
.pointer{
  cursor: pointer;
}